<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Form</title>
    <link rel="stylesheet" href="/upload.css">
</head>
<body>
    <form action="/static/upload" method="post" enctype="multipart/form-data">
        <label for="fileInput" class="custom-upload-btn">
            Choose a file
        </label>
        <input type="file" id="fileInput" name="pImage" style="display: none" />
        <span class="file-name">No file chosen</span>
        <button type="submit" class="custom-upload-btn">Upload</button>
    </form>

</body>
</html>
